@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper-slide {
  width: 275px !important;
}

.blured-card-big {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem 1rem;
  background-color: rgba(28, 28, 28, 0.5);
  box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 1rem;
}

.blured-bg {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4rem);
}

.separator {
  width: 100%;
  height: 1px;
  background-color: hsla(0, 0%, 94.9%, 0.2);
}

.menu_wrapper {
  position: absolute;
  left: 0;
  right: auto;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 60px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  top: 50%;
  transform: translateY(-50%);
}

.menu_shape-bg {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-title {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(50px);
}

.hero-description {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(50px);
}

.hamburger {
  display: flex;
  z-index: 20;
  width: 40px;
  height: 17.5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.hamburger-line {
  width: 40px;
  height: 3.5px;
  background-color: #fff;
}

.hamburger-line-2 {
  width: 25px;
  height: 3.5px;
  background-color: #fff;
}

.menu_mobile_wrap {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  padding: 2rem 2rem 8rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  grid-column-gap: 0.75rem;
  grid-row-gap: 2.5rem;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(2rem);
}

.close-btn {
  display: flex;
  z-index: 20;
}

.cursor {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  cursor: unset;
  z-index: 100;
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-track {
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4rem);
  backdrop-filter: blur(4rem);
  border-radius: 1rem;
}

.case-studies-card {
  border-radius: 1rem;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow: hidden;

  .case-studies-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 400ms ease-in-out;
  }

  .case-studies-card-image:hover {
    transform: scale(1.1);
  }

  .case-studies-card-description {
    position: absolute;
  }
}

.swiper-benefits {
  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-benefits-background {
    z-index: 2;
    background-image: linear-gradient(
      90deg,
      #000000,
      rgba(22, 22, 24, 0) 25%,
      rgba(22, 22, 24, 0) 75%,
      #000000
    );
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
}


